<template>
    <style>

        .time{
            min-width: 60px;
        }

        .cell{
            width: 100%;
            border-left: solid 1px;
        }

        th.cell, #edtCal{
            text-align: center;
        }
     
        td.cell:hover{
            background-color: yellowgreen;
            color: black;
        }

    </style>
    <div class="inline">
   
        <input type="date" id="edtCal">
    </div>
    <div class="day"></div>


</template>
<script>

    const pageData = main_data.agd_aula.data
    const pageFunc = main_data.agd_aula.func
    const pageScreen = document.querySelector('#card-agd_aula')

    pageFunc.pageStart = ()=>{
        pageScreen.querySelector('#edtCal').value = today.getFormatDate()
        make_grid()
    }

    function make_grid(){
        const day = new Date(pageScreen.querySelector('#edtCal').value+' 00:00:00')

        const week = pageScreen.querySelector('.day')
        week.innerHTML = ''
        for(let y=-2; y<24; y++){
            const line = document.createElement('tr')
            const head = y==0 ? document.createElement('tr') : null
            for(let x=0; x<2; x++){            
                const cell = document.createElement(y>=0 & x>0 ? 'td' : 'th')
                cell.innerHTML =  y>=0 ? (x==0 ? y.toString().padStart(2,0)+':00' : '') : (x>0 ? (y==-2 ? day.getWeekDay() : day.getFormatBR()) : '')
                cell.className = x==0 ? 'time' : 'cell'
                x>0 ? cell.id = `d-${day.getFormatDate()}_${y.toString().padStart(2,0)}:00` : null  
                cell.addEventListener('click',(e)=>{
                    const day = e.target.id.substr(2,10)
                    const time = e.target.id.substr(13,5)

                    console.log(day,time)
                })              
                line.appendChild(cell)
            }
            week.appendChild(line)
        }
    }

    pageScreen.querySelector('#edtCal').addEventListener('change',()=>{
        make_grid()
    })


    pageFunc.pageStart()

</script>