<template>
    <style></style>

    <fieldset>
        <legend>Recupere seu cadastro</legend>
        <div class="inline">
            <label for="edtEmail">Email</label>
            <input type="email" id="edtEmail"  onkeyup="validaEmail(this)">            
        </div>
        <p class="line">Você receberá um email para resetar sua senha</p>
        <div class="line">
            <button id="btnSave">Enviar</button>
        </div>
    </fieldset>

    <div class="legenda">

    </div>

</template>
<script>



</script>